.artPrev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artPrev-wrapper {
  width: 30%;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 15px;
  color: white;
  padding: 50px;
}
.butwrapp {
	width: 30%;
}