<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="../style/index.css">
<head>
	<meta charset="UTF-8">
	<title>Barbershop</title>
</head>
<body>

	<section class="header">
		<div class="header-logo">
			<a href="/" class="header-logo--a"> <img style="height: 150px" src="http://interactive.nfb.ca/blabla/images/Blabla_web_1.jpg" alt="" class="header-logo--a---img"> </a>
		</div>
		<div class="header-nav">
			<a href="/" class="header-nav--button button"  >О нас</a>
			<a href="/articles" class="header-nav--button button">Статьи</a>
		</div>
	</section>

<section class="content">
	
	<div style="color: green" class="content-wrapper">
		
	<i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, dignissimos labore! Saepe, quibusdam ratione cumque dolorum illo minima neque sint officiis eos praesentium quisquam molestias voluptatum cupiditate sed iste tempore.</i>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id magnam, ratione ipsam nobis quia dignissimos ea dolore saepe molestias officiis magni blanditiis fugit, corporis pariatur alias, in quam voluptatem nulla nostrum placeat sunt sint! Rerum totam repudiandae earum optio dolorem sunt. Minus dolorem culpa aliquam sunt eius architecto ea, error aperiam nobis natus quia ratione ad dicta et reprehenderit inventore eos temporibus mollitia numquam atque quisquam praesentium dolore quibusdam velit. Rerum, repudiandae similique soluta accusantium, fugiat nisi quae et provident, iusto facilis ea voluptatibus doloribus quas ut dolorem omnis? Accusamus tempora ad minus dolorum eos laborum ipsum enim placeat!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quas reiciendis vitae explicabo quae doloremque perferendis quo autem atque magnam reprehenderit provident eum nostrum veritatis repudiandae accusamus voluptatem et laborum natus fugiat, saepe eligendi, nobis nam! Tempore, nihil laudantium. Id et hic repudiandae illum sed magnam accusamus, culpa dicta atque enim voluptatum dolorum odit obcaecati maxime, eos ut. Modi, delectus consequuntur veritatis. Nemo voluptate quae, harum similique reiciendis inventore pariatur.</p>

	</div>

</section>


<section class="footer">
	
	<div class="footer-content">
		
		<p>Raileanv@gmail.com</p>
		<p>+79522210538</p>

	</div>

</section>



</body>
</html>
